certifi==2019.6.16
chardet==3.0.4
Click==7.0
consulate==0.6.0
Flask==1.0.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
requests==2.22.0
psycopg2==2.8.3
urllib3==1.25.8
Werkzeug==0.15.4
SQLAlchemy==1.2.11
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.11
Flask-Script==2.0.6
pybreaker==0.5.0
circuitbreaker==1.2